:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-brand-primary: #10b981;
  --color-brand-secondary: #34d399;
  --color-brand-tertiary: #a3e635;

  --color-point-purple: #a855f7;
  --color-point-cyan: #06b6d4;
  --color-point-pink: #ec4899;
  --color-point-rose: #f43f5e;
  --color-point-orange: #f97316;
  --color-point-yellow: #eab308;

  --color-background-primary: #0f172a;
  --color-background-secondary: #1e293b;
  --color-background-tertiary: #334155;
  --color-background-inverse: #ffffff;

  --color-interaction-inactive: #94a3b8;
  --color-interaction-hover: #059669;
  --color-interaction-pressed: #047857;

  --color-border-primary: #f8fafc80;

  --color-text-primary: #f8fafc;
  --color-text-secondary: #cbd5e1;
  --color-text-tertiary: #e2e8f0;
  --color-text-default: #64748b;
  --color-text-inverse: #ffffff;
  --color-text-disabled: #94a3b8;

  --color-status-danger: #dc2626;

  --color-icon-primary: #64748b;
  --color-icon-inverse: #f8fafc;
  --color-icon-brand: #10b981;

  --font-sans: var(--font-pretendard);
  --font-logo: var(--font-montserrat-alternates);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
