@import 'tailwindcss';
@import './colors.css';

body {
  background: var(--color-background-primary);
  color: var(--color-text-primary);
  font-family: var(--font-sans);
}

button,
[role='button'] {
  cursor: pointer;
}

button:disabled,
[role='button']:disabled {
  cursor: not-allowed;
}
