@import "tailwindcss";
@import "./colors.css";

body {
  background: var(--color-background-secondary);
  color: var(--color-text-primary);
  font-family: var(--font-pretendard), Arial, Helvetica, sans-serif;
}
